.all-cars .table {
    margin: 0;
}

.all-cars .table > :not(:first-child) {
    border-top: none;
}

.all-cars thead tr {
    border-bottom: 2px solid #d7d7d7;
}

.all-cars thead tr th {
    color: #353535;
    padding: 10px;
}

.all-cars table > tbody > tr > * {
    color: #333333;
    font-weight: 500;
    vertical-align: middle;
    padding: 10px;
}

.all-cars table a,
.all-cars table a:hover {
    color: #333333;
    text-decoration: none;
}

.all-cars table img {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
    object-position: center;
}
