.car-details {
    background: #fafafa;
}

.car-details h3 {
    color: #333333;
}

.car-details p {
    color: #555555;
}

.car-details .list-group-item {
    color: #555555;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    border-color: #e5e5e5;
}

.car-details .details {
    padding: 15px 24px;
    border-radius: 10px;
    background: #f2f2f2;
    border: 1px solid #e5e5e5;
}

.car-details .g-5,
.car-details .gy-5 {
    --bs-gutter-y: 2.2rem;
}

.car-details .g-5,
.car-details .gx-5 {
    --bs-gutter-x: 2.2rem;
}

.car-details form,
.car-details .delivery {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background: #f2f2f2;
    border: 1px solid #e5e5e5;
}

.car-details .delivery .theme-btn {
    background: rgb(0, 119, 0);
}

.car-details .form-control-lg {
    min-height: calc(1.5em + 1rem);
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
}

.car-details form .theme-btn {
    background: #232323;
}
