.inventory-section {
    background: #fafafa;
}

.inventory-section .g-5,
.inventory-section .gy-5 {
    --bs-gutter-y: 2.2rem;
}

.inventory-section .g-5,
.inventory-section .gx-5 {
    --bs-gutter-x: 2.2rem;
}
