header {
    border-bottom: 1px solid #eeeeee;
}

.bg-light {
    background-color: #ffffff !important;
}

.navbar-nav {
    column-gap: 15px;
    align-items: center;
    padding: 10px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(33, 33, 33, 0.85);
    font-weight: 500;
}
